<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<!--the form below enables us to search github -->
<form action="" class="search-form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter GitHub username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
	</div>
</form>
<!--end of form -->

<!--this div below will only b shown if the profile exists hence we use ngif-->
<div *ngIf="profile">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{profile.name}} <small>({{profile.login}})</small>
			<span *ngIf="profile.company">, Works at {{profile.company}}</span>
			{{profile.location}}
		</div>

    <div class="panel-body">
			<div class="row">
				<div class="col-sm-3">
					<img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
				</div>

<!-- bio-->